.header {
  text-align: center;
  height: 36px;
  padding-top: 8px;
padding-right: 32px;
padding-bottom: 8px;
padding-left: 16px;
background-color: #222;
};
.logoImage {
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
}

@-moz-keyframes spin { 
0% { -moz-transform: rotate(0deg); }
100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); transform:rotatey(360deg); }
}

